<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% if path == "home" %}{{title}}{% else %}Brian Moore &mdash; {{title}}{% endif %}
    </title>
    {% if path == "home" %}
    <meta name="description" content="{{ settings.sitedescription }}"/>
    {% else %}
    <meta name="description" content="{{ title }} {{ subhead }}"/>
    {% endif %}
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="https://use.typekit.net/ewg6ljh.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    {% if path == "home" %}<meta property="og:image" content="{{ settings.baseurl }}{{ settings.shareimage }}" />{% endif %}    
    {% if path != "home" %}<meta property="og:image" content="{{ settings.baseurl }}{{ thumbnail }}" />{% endif %}
  </head>
  <body>

    <header>

      <h1>{% if path == "home" %}&nbsp;{% else %}<a href="/">B</a>{% endif %}</h1>
      <ul class="menu">
        <li><a href="#work">Work</a></li>
<!--        <li><a href="#">Shop</a></li> -->
        <li><a href="/#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </header>


    <div class="main">

    {{ content | safe }}

    <footer>
      <h3>THE END © BRIAN MOORE&nbsp;<script language="javascript" type="text/javascript">
          var today = new Date();
          var year = today.getFullYear();
          document.write(year);</script></h3>
    </footer>

    {% if path == "home" %}
      <!-- Netlify Identity Widget -->
      <!-- Needed only if you are using Netlify Identity feature -->
      <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}
    </div>

  </body>
</html>